<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/layouts/head :: head}"></div>
<body>
<div th:replace="~{/layouts/loading :: div}"></div>
<div th:replace="~{/layouts/header :: header}"></div>
<!-- login -->
<section class="wrap__section" style="padding: 200px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Form Login -->
                <div class="card mx-auto" style="max-width: 380px;">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Connexion</h4>
                        <form method="post" th:action="@{/login}">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" type="email" name="username" required>
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <input class="form-control" placeholder="Mot de passe" type="password" name="password" required>
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Connexion </button>
                            </div> <!-- form-group// -->
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
                <p class="text-center mt-4">Vous n'avez pas un compte ?<a th:href="@{/register}">Inscription</a></p>
            </div>
        </div>
    </div>
</section>
<!-- end login -->
<div th:replace="~{/layouts/footer :: section}"></div>
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" th:src="@{/js/index.bundle.js}"></script></body>

</html>