<section class="wrapper__section p-0">
  <div class="wrapper__section__components">
    <footer>
      <div class="wrapper__footer-bottom bg__footer-dark">
        <div class="container ">
          <div class="row">
            <div class="col-md-12">
              <div class="border-top-1 bg__footer-bottom-section">
                <ul class="list-inline link-column">
                  <li class="list-inline-item">
                    <a th:href="@{/}">
                      Acceuil
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  th:href="@{/apropos}"> A propos</a>
                  </li>
                  <li class="list-inline-item">
                    <a  th:href="@{/contact}">
                      Contact
                    </a>
                  </li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <span>
                        Copyright © 2023 Khouibga Smart City
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>
