<header class="bg-light">
  <!-- Navbar menu  -->
  <div class="navigation-wrap navigation-shadow bg-white">
    <nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
      <div class="container">
        <div class="offcanvas-header">
          <div data-toggle="modal" data-target="#modal_aside_right" class="btn-md">
            <span class="navbar-toggler-icon"></span>
          </div>
        </div>
        <figure class="mb-0 mx-auto">
          <a th:href="@{/}">
            <img th:src="@{/images/placeholder/logo1.png}" alt="" class="img-fluid logo">
          </a>
        </figure>
        <div class="collapse navbar-collapse justify-content-between" id="main_nav99">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}"> Acceuil </a>
            </li>
            <li class="nav-item" th:if="${session.user != null}">
              <a class="nav-link" th:if="${session.user.getRole().equals('TOURISTE')}" th:href="@{/tourisme}"> <button class="btn-primary" style="border: 0px solid;">Tourisme</button> </a>
              <a class="nav-link" th:if="${session.user.getRole().equals('ETUDIANT')}" th:href="@{/etudiant}"> <button class="btn-primary" style="border: 0px solid;">Etudiant</button> </a>
              <a class="nav-link" th:if="${session.user.getRole().equals('AFFAIRE')}" th:href="@{/affaire}"> <button class="btn-primary" style="border: 0px solid;">Entrepreneur</button> </a>
              <a class="nav-link" th:if="${session.user.getRole().equals('EMPLOI')}" th:href="@{/emploi}"> <button class="btn-primary" style="border: 0px solid;">Emploi</button> </a>
              <a class="nav-link" th:if="${session.user.getRole().equals('ADMIN')}" th:href="@{/admin}"> <button class="btn-primary" style="border: 0px solid;">Admin</button> </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown"> Categories </a>
              <ul class="dropdown-menu dropdown-menu-left v1" th:if="${session.user!=null &&(session.user.getRole().equals('TOURISTE') || (#request.requestURI.startsWith('/tourisme') && session.user.getRole().equals('ADMIN') ))}">
                <li th:each="tourismeCat:${tourismeCats}" ><a class="dropdown-item" th:href="@{'/tourisme/' + ${tourismeCat.titleTC}}" th:text="${tourismeCat.getTitleTC()}" ></a></li>
               </ul>
              <ul class="dropdown-menu dropdown-menu-left v1" th:if="${session.user!=null && (session.user.getRole().equals('ETUDIANT') || (#request.requestURI.startsWith('/etudiant') && session.user.getRole().equals('ADMIN') ))}">
                <li th:each="campusCat:${campusCats}" ><a class="dropdown-item" th:href="@{'/etudiant/' + ${campusCat.titleCmpCat}}" th:text="${campusCat.getTitleCmpCat()}" ></a></li>
              </ul>
              <ul class="dropdown-menu dropdown-menu-left v1" th:if="${session.user!=null && (session.user.getRole().equals('AFFAIRE') || (#request.requestURI.startsWith('/affaire') && session.user.getRole().equals('ADMIN') ))}">
                <li th:each="affaireCat:${affaireCats}" ><a class="dropdown-item" th:href="@{'/affaire/' + ${affaireCat.titleAffCat}}" th:text="${affaireCat.getTitleAffCat()}" ></a></li>
                <li><a class="dropdown-item" th:href="@{/affaire/entreprise}">Entreprise</a></li>
                <li><a class="dropdown-item" th:href="@{/affaire/organisation}">Organisation</a></li>
              </ul>
              <ul class="dropdown-menu dropdown-menu-left v1" th:if="${session.user!=null && (session.user.getRole().equals('EMPLOI') || (#request.requestURI.startsWith('/emploi') && session.user.getRole().equals('ADMIN') ))}">
                <li><a class="dropdown-item" th:href="@{/emploi/offres}">Offres d'emploi</a></li>
                <li><a class="dropdown-item" th:href="@{/emploi/entreprise}">Entreprise</a></li>
                <li><a class="dropdown-item" th:href="@{/emploi/organisation}">Organisation</a></li>
              </ul>
              <ul class="dropdown-menu dropdown-menu-left v2" th:if="${session.user==null ||  (#request.requestURI.startsWith('/') && session.user.getRole().equals('ADMIN') ) }">
                <li><a class="dropdown-item" th:href="@{/tourisme}"> Tourisme</a></li>
                <li><a class="dropdown-item" th:href="@{/etudiant}"> Etudes</a></li>
                <li><a class="dropdown-item" th:href="@{/emploi}"> Emploi</a></li>
                <li><a class="dropdown-item" th:href="@{/affaire}"> Affaires</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/apropos}"> A propos </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contact}"> contact </a></li>
            <li class="nav-item dropdown">
              <a class="nav-link active" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> Compte</a>
              <ul class="dropdown-menu dropdown-menu-left"  th:if="${session.user!=null}" >
                <li><a class="dropdown-item" th:href="@{/logout}"> Déconnexion </a></li>
              </ul>
              <ul class="dropdown-menu dropdown-menu-left"  th:if="${session.user==null}" >
                <li><a class="dropdown-item" th:href="@{/login}"> Connexion </a>
                </li>
                <li><a class="dropdown-item" th:href="@{/register}"> Inscription </a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- navbar-collapse.// -->
      </div>
    </nav>
  </div>
  <!-- End Navbar menu  -->
  <!-- Navbar sidebar menu  -->
  <div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <nav class="list-group list-group-flush">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}"> Acceuil </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown"> Categories </a>
                <ul class="dropdown-menu dropdown-menu-left" th:if="${session.user!=null &&(session.user.getRole().equals('TOURISTE') || (#request.requestURI.startsWith('/tourisme') && session.user.getRole().equals('ADMIN') ))}">
                  <li th:each="tourismeCat:${tourismeCats}" ><a class="dropdown-item" th:href="@{'/tourisme/' + ${tourismeCat.titleTC}}" th:text="${tourismeCat.getTitleTC()}" ></a></li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-left" th:if="${session.user!=null && (session.user.getRole().equals('ETUDIANT') || (#request.requestURI.startsWith('/etudiant') && session.user.getRole().equals('ADMIN') ))}">
                  <li th:each="campusCat:${campusCats}" ><a class="dropdown-item" th:href="@{'/etudiant/' + ${campusCat.titleCmpCat}}" th:text="${campusCat.getTitleCmpCat()}" ></a></li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-left" th:if="${session.user!=null && (session.user.getRole().equals('AFFAIRE') || (#request.requestURI.startsWith('/affaire') && session.user.getRole().equals('ADMIN') ))}">
                  <li th:each="affaireCat:${affaireCats}" ><a class="dropdown-item" th:href="@{'/affaire/' + ${affaireCat.titleAffCat}}" th:text="${affaireCat.getTitleAffCat()}" ></a></li>
                  <li><a class="dropdown-item" th:href="@{/affaire/entreprise}">Entreprise</a></li>
                  <li><a class="dropdown-item" th:href="@{/affaire/organisation}">Organisation</a></li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-left v1" th:if="${session.user!=null && (session.user.getRole().equals('EMPLOI') || (#request.requestURI.startsWith('/emploi') && session.user.getRole().equals('ADMIN') ))}">
                  <li><a class="dropdown-item" th:href="@{/emploi/offres}">Offres d'emploi</a></li>
                  <li><a class="dropdown-item" th:href="@{/emploi/entreprise}">Entreprise</a></li>
                  <li><a class="dropdown-item" th:href="@{/emploi/organisation}">Organisation</a></li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-left v2" th:if="${session.user==null}">
                  <li><a class="dropdown-item" th:href="@{/login}"> Tourisme</a></li>
                  <li><a class="dropdown-item" th:href="@{/login}"> Etudes</a></li>
                  <li><a class="dropdown-item" th:href="@{/login}"> Emploi</a></li>
                  <li><a class="dropdown-item" th:href="@{/login}"> Affaires</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" th:href="@{/apropos}"> A propos </a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/contact}"> contact </a></li>
              <li class="nav-item dropdown">
                <a class="nav-link active" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> Compte</a>
                <ul class="dropdown-menu dropdown-menu-left"  th:if="${session.user!=null}" >
                  <li><a class="dropdown-item" th:href="@{/logout}"> Déconnexion </a></li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-left"  th:if="${session.user==null}" >
                  <li><a class="dropdown-item" th:href="@{/login}"> Connexion </a>
                  </li>
                  <li><a class="dropdown-item" th:href="@{/register}"> Inscription </a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
