<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/layouts/head :: head}"></div>
<body>
<div th:replace="~{/layouts/loading :: div}"></div>
<div th:replace="~{/layouts/header :: header}"></div>
<div class="slider-container">
    <div class="container-slider-image-full nopadd">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="" ></li>
                <li th:each="affaireCat, index :${affaireCats}" data-target="#carouselExampleIndicators" th:attr="data-slide-to=${index.count + 1}" class="" ></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active"  >
                    <img class="d-block w-100" src="images/placeholder/entreprise.jpg" alt="First slide">
                    <div class="carousel-caption d-md-block text-center text-capitalize">
                        <h1 class="text-white animated fadeInUp nopadd" style="animation-delay:1s"> Entreprise</h1>
                        <div class="animated fadeInLeft d-none d-sm-block" style="animation-delay:2.6s">
                            <a  th:href="@{/affaire/entreprise}" class="btn btn-primary text-uppercase">Visiter</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item"  >
                    <img class="d-block w-100" src="images/placeholder/organisation.png" alt="First slide">
                    <div class="carousel-caption d-md-block text-center text-capitalize">
                        <h1 class="text-white animated fadeInUp nopadd" style="animation-delay:1s"> Organisation</h1>
                        <div class="animated fadeInLeft d-none d-sm-block" style="animation-delay:2.6s">
                            <a  th:href="@{/affaire/organisation}" class="btn btn-primary text-uppercase">Visiter</a>
                        </div>
                    </div>
                </div>
                <div th:each="affaireCat, index :${affaireCats}"  class="carousel-item" >
                    <img th:if="${affaireCat.imgAffCat.isEmpty()}" class="d-block w-100" src="images/placeholder/1920x960.jpg" alt="First slide">
                    <img th:if="${!affaireCat.imgAffCat.isEmpty()}" class="d-block w-100" th:src="@{/images/{imageName}(imageName=${affaireCat.imgAffCat})}" alt="First slide">
                    <div class="carousel-caption d-md-block text-center text-capitalize">
                        <h1 th:text="${affaireCat.titleAffCat}" class="text-white animated fadeInUp nopadd" style="animation-delay:1s"></h1>
                        <div class="animated fadeInLeft d-none d-sm-block" style="animation-delay:2.6s">
                            <a  th:href="@{'/affaire/' + ${affaireCat.titleAffCat}}" class="btn btn-primary text-uppercase">Visiter</a>
                        </div>
                    </div>
                </div>
               </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span> -->
            <i class="fa fa-2x fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span> -->
            <i class="fa fa-2x fa-angle-right"></i>
        </a>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Breadcrumb -->
                <ul class="breadcrumbs bg-light mb-4">
                    <li class="breadcrumbs__item">
                        <a th:href="@{/}" class="breadcrumbs__url">
                            <i class="fa fa-home"></i> Acceuil</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__url breadcrumbs__item--current">Affaires</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <aside class="wrapper__list__article ">
                    <h4 class="border_section">Pour les entrepreneurs</h4>
                    <!-- Post Article List -->
                </aside>
                <p style="text-align: justify;">
                    Le module Affaires de notre application est spécialement conçu pour répondre aux besoins des entrepreneurs ambitieux et des hommes d'affaires chevronnés à Khouribga. Si vous êtes à la recherche d'informations clés pour prospérer dans le milieu des affaires, ce module est votre allié.
                    <br>
                    <br>
                    En utilisant notre module Affaires, vous pourrez explorer les opportunités d'investissement disponibles à Khouribga. Nous vous fournirons des informations détaillées sur les secteurs en croissance, les industries émergentes et les projets d'expansion en cours dans la ville. Vous aurez un aperçu des domaines qui offrent le plus grand potentiel de rentabilité et de croissance, vous permettant ainsi de prendre des décisions éclairées en matière d'investissement.
                    <br>
                    <br>
                    Nous comprenons que le succès des entreprises repose souvent sur la collaboration et les partenariats stratégiques. C'est pourquoi notre module Affaires vous fournira également des informations sur les incubateurs d'entreprises et les espaces de coworking disponibles à Khouribga. Vous pourrez découvrir les lieux où vous pourrez développer vos idées, rencontrer d'autres entrepreneurs et établir des contacts précieux pour le développement de votre entreprise. Ces espaces dynamiques favorisent l'innovation, l'échange d'idées et la création de synergies entre les acteurs locaux.
                    <br>
                    <br>
                    En outre, notre module Affaires vous donnera accès à des événements networking et à des conférences spécialisées dans le domaine des affaires à Khouribga. Vous pourrez participer à des rencontres professionnelles, à des séminaires et à des forums où vous pourrez élargir votre réseau, échanger des idées avec des experts de l'industrie et explorer de nouvelles opportunités de collaboration. Ces événements sont des occasions uniques de rencontrer des décideurs, des investisseurs et des leaders d'opinion qui peuvent jouer un rôle clé dans le succès de votre entreprise.
                </p>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{/layouts/footer :: section}"></div>
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" th:src="@{/js/index.bundle.js}"></script>
</body>
</html>