<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/layouts/head :: head}"></div>
<body>
<div th:replace="~{/layouts/loading :: div}"></div>
<div th:replace="~{/layouts/header :: header}"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs bg-light mb-4">
          <li class="breadcrumbs__item">
            <a th:href="@{/}" class="breadcrumbs__url">
              <i class="fa fa-home"></i> Acceuil</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__url breadcrumbs__item--current">A propos</a>
          </li>
        </ul>
        <div class="wrap__about-us">
          <h4><strong>Bienvenue sur le site web de Khouribga Smart City !</strong> </h4>
          <p>
            Notre plateforme a été spécialement conçue pour répondre aux besoins des nouveaux arrivants, des étudiants, des demandeurs d'emploi et des entrepreneurs souhaitant explorer les nombreuses opportunités offertes par la ville de Khouribga.
          </p>
          <br><h4><strong>Notre mission :</strong></h4>
          <p>
            Fournir toutes les informations essentielles sur Khouribga, que ce soit pour votre séjour touristique, vos études, vos affaires ou votre recherche d'emploi. Grâce à notre application web conviviale, vous pourrez accéder à une mine d'informations sur les lieux à visiter, les plans de site, les cartes routières, l'environnement commercial, les portails d'emploi et bien plus encore.
          </p>
          <h4><strong>Explorez Khouribga :</strong></h4>
          <p>
            Que vous soyez un étudiant à la recherche de matériel d'étude, un homme d'affaires cherchant à établir des contacts ou un touriste désireux d'explorer les attractions locales, vous trouverez ici tout ce dont vous avez besoin. Nous mettons également à votre disposition des informations sur les centres de coaching, les établissements universitaires, les entreprises et les opportunités d'emploi disponibles à Khouribga.
          </p>
          <h4><strong>Disponibilité 24/7 :</strong></h4>
          <p>
            Nous sommes fiers d'offrir un accès 24h/24 et 7j/7 à notre application, afin que vous puissiez obtenir les informations dont vous avez besoin à tout moment. Notre équipe travaille constamment pour mettre à jour les détails sur Khouribga et vous offrir une expérience utilisateur optimale.
          </p>
          <h4><strong>Découvrez Khouribga :</strong></h4>
          <p>
            Explorez notre site web et plongez dans l'histoire, la culture et les opportunités passionnantes que Khouribga a à offrir. Nous espérons que cette plateforme vous aidera à tirer le meilleur parti de votre expérience à Khouribga Smart City.
          </p>
          <h4><strong>Bienvenue à Khouribga :</strong> </h4>
          <p>
            Nous vous souhaitons la bienvenue à Khouribga, votre destination intelligente !
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div th:replace="~{/layouts/footer :: section}"></div>
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" th:src="@{/js/index.bundle.js}"></script></body>
</html>