<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Retnews &#8211; Best news, blog & magazine template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#17A90C">
    <!-- google fonts -->
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap"
            rel="stylesheet">
    <link type="text/css" th:href="@{/css/styles.css}"  rel="stylesheet">
</head>
<body>
<!-- loading -->
<div class="loading-container">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <ul class="list-unstyled">
            <li>
                               <img th:src="@{/images/placeholder/logo2.png}" alt="Alternate Text" height="100" />
            </li>
            <li>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>

                </div>

            </li>
            <li>
                <p>Loading</p>
            </li>
        </ul>
    </div>
</div>
<!-- End loading -->
<div th:replace="~{/header :: header}"></div>
<section class="pb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- breaddcrumb -->
                <!-- Breadcrumb -->
                <ul class="breadcrumbs bg-light mb-4">
                    <li class="breadcrumbs__item">
                        <a th:href="@{/}" class="breadcrumbs__url">
                            <i class="fa fa-home"></i> Acceuil</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a th:href="@{/tourisme}" class="breadcrumbs__url">Tourisme</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a th:href="@{'/tourisme/' + ${titleTC}}" th:text="${titleTC}" class="breadcrumbs__url breadcrumbs__item--current"></a>
                    </li>
                </ul>
                <!-- end breadcrumb -->
            </div>
            <div class="col-md-12">
                <!-- content article detail -->
                <!-- Article Detail -->
                <div class="wrap__article-detail">
                    <div class="wrap__article-detail-title">
                        <h1 th:text="${tourisme.titreT}">
                        </h1>
                    </div>
                    <hr>
                    <div class="slider-container ">
                        <div class="container-slider-image-full nopadd">

                            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                                <ol class="carousel-indicators d-none">
                                    <li th:each="image, index :${tourisme.getImageUrls()}" data-target="#carouselExampleIndicators" th:attr="data-slide-to=${index.count - 1}"  th:class="${index.count - 1 == 0} ? 'active' : ''"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item" th:each="image, index :${tourisme.getImageUrls()}"  th:class="${index.count - 1 == 0} ? 'carousel-item active' : 'carousel-item'">
                                        <img  class="d-block w-100" th:src="@{/images/{imageName}(imageName=${image})}" alt="First slide" style="opacity: 1;">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span> -->
                                    <i class="fa fa-2x fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span> -->
                                    <i class="fa fa-2x fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <h5>&nbsp;</h5>
                    <div class="wrap__article-detail-content">
                        <p th:text="${tourisme.descriptionT}">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div th:replace="~{/footer :: section}"></div>
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    <script type="text/javascript" th:src="@{/js/index.bundle.js}"></script>
</body>
</html>