<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tourisme page</title>
</head>
<body>
    <h1>Salut Touriste</h1>
    <a th:href="@{/}">Acceuil </a>
    <a th:href="@{/tourisme}">> Tourisme </a>
    <a href="#" th:text="'> '+${titleTC}"></a>
    <h2 th:text="${titleTC}"></h2>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tourisme:${tourismes}">
                <td th:text="${tourisme.getTitreT()}"></td>
                <td th:text="${tourisme.getLieuT()}"></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
        <button type="submit" >Sign Out</button>
    </form>
</body>
</html>