<head>
    <meta charset="utf-8" />
    <title>SmartCity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" th:href="@{/images/placeholder/logo.ico}">
   <!--   DataTables -->
    <link th:href="@{/assets/plugins/summernote/summernote.css}" rel="stylesheet">
    <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css">
    <!--    <link rel="stylesheet" th:href="@{/assets/plugins/dropzone/dist/min/dropzone.min.css}" type="text/css" />-->
</head>

